.navbar{
    background-color: rgb(135, 86, 135);
}
label{
    font-weight: bold;
}
input:hover,select:hover{
    border: 3px solid rgb(135, 86, 135);
}
.row button{
    border-radius: 1em;
    background-color: rgb(173, 123, 173);
    border: none;
}

